
@{
    ViewBag.Title = "Home";
}


<div class="content">
    <div>
        <h2>Dagens nyheter</h2>
        <div class="news">
            <h3>Lorem Ipsum</h3>
            <p>
                Lorem ipsum dolor sit amet, no mei virtute urbanitas comprehensam, doming iracundia mel ei. No habeo autem vel, ius ei accusam persequeris. Aeque tation epicuri vis ne, vis putent dissentiunt ut, unum porro phaedrum sed eu. Eum cu laudem vidisse. Ei nec quis inani delicata, ei assum detracto est.

                Eam tritani omnesque theophrastus no. Mei ferri periculis ei. Duo id quodsi graecis omittam. Lorem docendi instructior vix ut. Eos legimus facilisi ex, ex cibo splendide duo, utroque interpretaris sea et.
            </p>
        </div>
        <div class="news">
            <h3>Dolor Sit amet</h3>
            <p>
                Te pro tempor expetenda intellegam. Dicta tempor ei nec, ut fugit saperet debitis vis. Ex cibo omnesque praesent vis, sale congue suscipit sit id. Usu no elit viris sapientem, erat quaestio cotidieque mel ut. Ad usu justo tritani accusamus, mel vidit lorem inciderint id, verear fierent theophrastus per an.

                Zril dicant ea vix, ad mei sonet quaerendum, dico elit officiis his no. An ius torquatos sadipscing. Mediocrem iracundia duo ex, ea est vidisse ancillae. Ut vel audire oblique feugiat. Duo reque mundi et.
            </p>
        </div>
    </div>
</div>

